
body{

    display:flex;
    flex-direction:column;
    background-attachment: #fff;
}


main{
    font-family:sans-serif;
}

.navbar{
    
    height:2%;
    width:100%;
    z-index: 50;

}



.collapse {
    justify-content: flex-end;
   
    
}

.navbar-bar {
    justify-content: flex-end;
    

}
 .navbar > .container-fluid {

    height: inherit;
    
}




.navbar > .container-fluid >.logo{
    display: flex;
    
    height: 100px;
    width:auto;
    justify-content: space-evenly;
    align-items:center;
    padding: 15px;


    color: #fff;


}



.navbar > .container-fluid> .logo >img{
    height: 10vh;
    width: auto;
    object-fit: cover;



}

.navbar > .container-fluid> .logo >span {
    margin-left: 20px;
    font-family: "Source Sans Pro";
    color: rgb(255, 255, 255);

    font-size: 100px;

}
    

.col-table{
    padding: 20px;
    margin: 20px;
}